body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    background: #222;
    color: #fff;
    display: flex;
    justify-content: center;
  }
  
  a {
      color: #fff;
    text-decoration: none;
  }
  
  label {
    font-size: 11px;
    font-weight: bold;
  }

  input {
    width: 100%;
    height: 34px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #424242;
    box-sizing: border-box;
  }

  input::placeholder {
    color: transparent;
  }
  
  button {
    all: unset;
  }
  
  .wrap {
    position: relative;
    width: 360px;
    background-color: #000;
  }

  .inner {
    margin: 0 16px 0 18px;
    padding-top: 51px;
  }
  
  .flex {
    display: flex;
  }
  
  .hide {
    display: none;
  }

  .dropDownWrap {
    justify-content: flex-end;
  }
  
  .dropDownBtn {
    position: relative;
    height: 32px;
    border: .5px solid #fff;
    text-align: center;
    border-radius: 20px;
    padding: 9px 16px;
    padding-right: 35px;
    font-size: 9px;
    box-sizing: border-box;
  }
  
  .dropDownBtn::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 19px;
    width: 7px;
    height: 7px;
    transform: translateY(-50%) rotate(-45deg);
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  .dropDownMenu {
    position: absolute;
    left: 0;
    bottom: 33px;
    width: 100%;
    background-color: #2b2b2b;
    z-index: 1;
    box-sizing: border-box;
    border-radius: 20px 20px 0 0;
  }

  .dropDownMenu.active {
    bottom: auto;
    top: 0;
  }

  .dropDownListTitle {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
  }

  .dropDownList {
    padding: 19px 22px 13px 22px;
  }

  .dropDownList strong {
    width: 100%;
    position: relative;
    font-size: 16px;
    font-weight: bold;
  }

  .dropDownList strong::before,
    .dropDownList strong::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 15px;
    background-color: #fff;
    /* transform: translateY(-50%); */
  }

  .dropDownList strong::before {
    transform: rotate(45deg);

  }

  .dropDownList strong::after {
    transform: rotate(-45deg);
  }

  .lang {
    position: relative;
    font-size: 14px;
    color: #bcbcbc;
    font-weight: 500;
    justify-content: space-between;
    padding-bottom: 28px;
  }

  .lang::before,
  .lang::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 13px;
    top: 0;
    right: 0;
    background-color: #fff;
  }

  .lang::after {
    transform: rotate(90deg);
  }

  .lang:last-child {
    padding-bottom: 13px;
  }

  .langChoose {
    padding: 0 13px;
    margin-top: 13px;
    background-color: #000;
  }

  .langList {
    position: relative;
    padding: 15px 0;
    justify-content: space-between;
  }

  .langList.on {
    color: #f32f2d;
  }

  .langList.on span {
    text-decoration: underline;  
}

.langList.on::before {
  background-color: #f32f2d;
}

  .langList::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #464646;
  }

  .langList p {
    font-size: 10px;
  }

  .langList span {
    font-size: 9px;
  }

  .logoWrap {
    padding: 28px 0 37px 0;
  }

  .logo {
    width: 80px;
  }

  .loginBtn {
    text-align: center;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #2b2b2b;
    font-size: 12px;
    color: #a3a3a3;
    font-weight: bold;
    margin: 5px 0 6px 0;
  }

  .myLgGroup {
    position: relative;
  }
  
  .myLgGroup::before {
    content: "";
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: #2b2b2b;
  }

  .userIdWrap {
    margin-bottom: 21px;
  }

  .findInfoWrap {
    justify-content: center;
    margin-bottom: 60px;
  }

  .findInfoList:nth-child(2) {
    position: relative;
    padding: 0 14px;
  }

  .findInfoList:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    width: 2px;
    height: 12px;
    background-color: #969696;
  }

  .findInfoList:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 6px;
    width: 2px;
    height: 12px;
    background-color: #969696;
  }

  .findInfo {
    display: block;
    font-size: 12px;
    color: #969696;
  }

  .userPasswordGroup {
    position: relative;
  }

  .passwordShowHide {
    position: absolute;
    bottom: 7px;
    right: 0;
  }

  .showHideImg {
    background: url("/img/img_showHide.png") no-repeat 0 0;
    background-size: 95%;
    width: 19px;
    height: 19px;
  }

  .passwordShowHide.active .showHideImg {
    background: url("/img/img_showHideActive.png") no-repeat 0 0;
    background-size: 95%;
    width: 19px;
    height: 19px;
  }

.myLgBtn {
  width: 100%;
  height: 41px;
  background-color: #fff;
  border-radius: 5px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.myLgBtn span {
  display: block;
}

.myLgBtn span:nth-child(2) {
  padding: 0 4px;

}

.my {
  color: #767676;
}

.lg {
  color: #9f0032;
}

.myLgLogin {
  color: #c94d80;
}

.imgId {
  width: 14px;
  height: 13px;
  padding: 1px 4px 0 0;
}

.snsLoginWrap {
  margin: 18px 0 21px 0;
  justify-content: center;
}

.snsLinkList:nth-child(2) {
  margin: 0 20px;
}

.anotherSnsBtn {
  text-align: center;
}

.anotherSns {
  position: relative;
  font-size: 10px;
  color: #5f5f5f;
}

.anotherSns::before {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  transform: translateY(50%) rotate(45deg);
  width: 5px;
  height: 5px;
  border-top: 2px solid #5f5f5f;
  border-right: 2px solid #5f5f5f;
}