body {
    background: #222;
    color: #fff;
    display: flex;
    justify-content: center;
  }
  
  a {
      color: #fff;
    text-decoration: none;
  }
  
  label {
    font-size: 11px;
    font-weight: bold;
  }

  input {
    width: 100%;
    height: 34px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #424242;
    
  }

  input::placeholder {
    color: transparent;
  }
  
  button {
    all: unset;
  }
  
  .wrap {
    width: 360px;
    max-height: 780px;
    background-color: #000;
  }

  .inner {
    width: calc(100% - 21px);
    height: 100vh;
    margin: 0 auto;
    padding-top: 51px;
  }
  
  .flex {
    display: flex;
  }
  
  .hide {
    display: none;
  }

  .langBtnWrap {
    cursor: pointer;
    justify-content: flex-end;
  }
  
  .langCont {
    border: .5px solid #fff;
    text-align: center;
    border-radius: 20px;
    padding: 9px 16px;
    padding-right: 35px;
    font-size: 9px;
    box-sizing: border-box;
  }
  
  .langDownBtn {
      position: relative;
  }
  
  .langDownBtn::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 22px;
    width: 8px;
    height: 1px;
    background-color: #fff;
    transform: rotate(45deg);
  }
  
  .langDownBtn::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    width: 8px;
    height: 1px;
    background-color: #fff;
    transform: rotate(-45deg);
  }

  .logoWrap {
    padding: 28px 0 37px 0;
  }

  .logo {
    width: 80px;
  }

  .loginBtn {
    text-align: center;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #2b2b2b;
    font-size: 12px;
    color: #a3a3a3;
    font-weight: bold;
    cursor: pointer;
    margin: 5px 0 6px 0;
  }

  .findInfoWrap {
    justify-content: center;
    margin-bottom: 60px;
  }

  .findInfoList:nth-child(2) {
    position: relative;
    padding: 0 14px;
  }

  .findInfoList:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    width: 2px;
    height: 12px;
    background-color: #969696;
  }

  .findInfoList:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 6px;
    width: 2px;
    height: 12px;
    background-color: #969696;
  }

  .findInfo {
    display: block;
    font-size: 11px;
    color: #969696;
  }

.myLgBtn {
  width: 100%;
  height: 41px;
  background-color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.myLgBtn span {
  display: block;
}

.myLgBtn span:nth-child(2) {
  padding: 0 4px;

}

.my {
  color: #767676;
}

.lg {
  color: #9f0032;
}

.myLgLogin {
  color: #c94d80;
}

.imgId {
  width: 14px;
  height: 13px;
  padding: 1px 4px 0 0;
}

.snsLoginWrap {
  margin: 18px 0 21px 0;
  justify-content: center;
}

.snsLinkList:nth-child(2) {
  margin: 0 20px;
}

.anotherSnsBtn {
  text-align: center;
}

.anotherSns {
  position: relative;
  font-size: 10px;
  color: #5f5f5f;
}

.anotherSns::before {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  transform: translateY(50%) rotate(45deg);
  width: 5px;
  height: 5px;
  border-top: 2px solid #5f5f5f;
  border-right: 2px solid #5f5f5f;
}